body{
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}
.rj{
    color: white;
    padding: 10px;
    display: inline;
}

div{
    width: 1240px;
    height: 600px;
    background-color: white;
    margin: 0 auto;
    margin-top: 40px;
}
li{
    float: right;
    display: block;
    margin-left: 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
h1 p{
    float: left;
}
img{
    float: right;
}
a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: block;
    border: 1px solid blue;
}
a:hover{
    color: blue;
}